.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
resources/example.gif
resources/FromThisToThis.png
resources/package-explorer.png
resources/addFileFromExplorer.png
resources/multipleFiles.png
resources/menu.png
