.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
resources/**
!resources/dark/**
!resources/light/**
!resources/icon.png
!resources/folder.png